{% extends "base.html" %} 
{% block title %}Company{% endblock %}<
{% block content %}

{% if company_name %}
  <h1> Hello {{ company_name }} </h1
{% else %}
  <h1>Whats your company? </h1>

  <form method = "POST">
    {{ form.hidden_tag()}}
    {{ form.company_name.label(class = "form-label") }}
    {{ form.company_name(class = "form-control") }}
    <br>
    {{ form.hidden_tag()}}
    {{ form.company_email.label(class = "form-label") }}
    {{ form.company_email(class = "form-control") }}
    <br>
    {{ form.hidden_tag()}}
    {{ form.project_type.label(class = "form-label") }}
    <br>
    {{ form.project_type(class="form-select") }}
    <br>
    <br>
    {{ form.hidden_tag()}}
    {{ form.project_size.label(class = "form-label") }}
    <br>
    {{ form.project_size(class="form-select") }}
    <br>
    <br>
    {{ form.submit(class = "btn btn-primary") }}
{% endif %}
{% endblock %}