{% extends "base.html" %} 
{% block title %}Personal{% endblock %}<
{% block content %}

{% if company_name %}
  <h1> Hello {{ company_name }} </h1
{% else %}

  <form method = "POST">
    {{ form.hidden_tag()}}
    {{ form.first_name.label(class = "form-label") }}
    {{ form.first_name(class = "form-control") }}
    <br>
    {{ form.hidden_tag()}}
    {{ form.email.label(class = "form-label") }}
    {{ form.email(class = "form-control") }}
    <br>
    {{ form.hidden_tag()}}
    {{ form.project_type.label(class = "form-label") }}
    <br>
    {{ form.project_type(class="form-select") }}
    <br>
    <br>
    {{ form.hidden_tag()}}
    {{ form.project_size.label(class = "form-label") }}
    <br>
    {{ form.project_size(class="form-select") }}
    <br>
    <br>
    {{ form.submit(class = "btn btn-primary") }}
{% endif %}
{% endblock %}