{% extends "base.html" %} 
{% block title %}Home{% endblock %} 
{% block content%}

<!-- Welcome -->
<div class = "container">
  <h1 align="center">Welcome to Agera</h1>
</div>
<hr>
<br>

<!-- What we do -->
<div class = "container">
  <h2>What we do</h2>
  <img src="..." class="img-thumbnail img-fluid" alt="...">
  <img src="..." class="img-thumbnail img-fluid" alt="...">
  <img src="..." class="img-thumbnail img-fluid" alt="...">
</div>
<hr>
<br>  

<!-- Call to action -->
<div class = "container">
  <h2>Call to action</h2>
  <div class="d-grid gap-2 col-6 mx-auto">
    <form action="/choice">
      <button class="btn btn-primary" type="submit">Get Started</button>
    </form>
</div>
<br>

{% endblock %}